@charset "UTF-8";

/* .simple-slider */
.simple-slider, .slider-container, .slider-slide {height: 930px;}
.simple-slider {width: 100%;margin: auto;position: relative;}
.simple-slider .slider-container {position: relative;overflow: hidden;}
.simple-slider .slider-container .slider-inner {white-space: nowrap;overflow-x: scroll;overflow-y: hidden;}
.simple-slider .slider-container .slider-inner .slider-slide {position: relative;display: inline-block;width: 100%;margin-right: -4px;}
.simple-slider .slider-previous, .simple-slider .slider-next {position: absolute;transform: translateY(-50%);bottom: 200px;display: block;width: 30px;height: 30px;line-height: 40px;text-align: center;text-decoration: none;color: #000;background-color: #66cccc;border: 1px solid #CCC;transition: background-color 0.1s ease;border-radius: 50%;}
.simple-slider .slider-previous:hover, .simple-slider .slider-next:hover {
background-color: #ff9966;}
.simple-slider .slider-previous:active, .simple-slider .slider-next:active{ background-color: rgba(0, 0, 0, 0.4);}
.simple-slider .slider-previous {left: 50px;font-size:50px;text-align: center;}
.simple-slider .slider-next {right: 50px;font-size:50px;text-align: center;}
 
/*#cnt1 Slider CSS */
#cnt1 .slider-slide:nth-child(1) {background: url("../images/event/1slider/slider1-1.jpg");}
#cnt1 .slider-slide:nth-child(2) {background: url("../images/event/1slider/slider1-2.jpg");}
#cnt1 .slider-slide:nth-child(3) {background: url("../images/event/1slider/slider1-3.jpg");}
#cnt1 .slider-slide:nth-child(4) {background: url("../images/event/1slider/slider1-4.jpg");}





/** modal
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.7.14 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2019, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
html.with-featherlight{overflow:hidden}.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight link.featherlight-inner,.featherlight script.featherlight-inner,.featherlight style.featherlight-inner{display:none}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family:Arial,sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000;border:0;padding:0}.featherlight .featherlight-close-icon::-moz-focus-inner{border:0;padding:0}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0;-webkit-overflow-scrolling:touch}.featherlight iframe{border:0}.featherlight *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:0;margin-right:0;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}@media print{html.with-featherlight>*>:not(.featherlight){display:none}}

/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.14 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2019, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight-next,.featherlight-previous{display:block;position:absolute;top:25px;right:25px;bottom:0;left:80%;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:rgba(0,0,0,0)}.featherlight-previous{left:25px;right:80%}.featherlight-next:hover,.featherlight-previous:hover{background:rgba(255,255,255,.25)}.featherlight-next span,.featherlight-previous span{display:none;position:absolute;top:50%;left:5%;width:82%;text-align:center;font-size:80px;line-height:80px;margin-top:-40px;text-shadow:0 0 5px #fff;color:#fff;font-style:normal;font-weight:400}.featherlight-next span{right:5%;left:auto}.featherlight-next:hover span,.featherlight-previous:hover span{display:inline-block}.featherlight-first-slide.featherlight-last-slide .featherlight-next,.featherlight-first-slide.featherlight-last-slide .featherlight-previous,.featherlight-loading .featherlight-next,.featherlight-loading .featherlight-previous,.featherlight-swipe-aware .featherlight-next,.featherlight-swipe-aware .featherlight-previous{display:none}@media only screen and (max-device-width:1024px){.featherlight-next:hover,.featherlight-previous:hover{background:0 0}.featherlight-next span,.featherlight-previous span{display:block}}@media only screen and (max-width:1024px){.featherlight-next,.featherlight-previous{top:10px;right:10px;left:85%}.featherlight-previous{left:10px;right:85%}.featherlight-next span,.featherlight-previous span{margin-top:-30px;font-size:40px}}

/* #cnt2 공통 */
#cnt2{width: 100%;height: 930px;margin: 0px auto;}
#cnt2 h3{font-size: 30px;color:#231f20;text-align: center; }
#cnt2 h3+p{color:#777;padding: 14px 0 50px;}
#cnt2 h4{position: relative;padding-top: 10px;font-size: 30px;letter-spacing: 10px;text-align: center;}
#cnt2 .over{width: 100%;height: 310px;padding-top: 108px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #ffffff;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;text-align: center;}
#cnt2 .over li{width: 100%;height: 310px;text-align: center;}
#cnt2 li:hover .over, #cnt2 li.on .over{padding-top: 50px;}
#cnt2 li .over h4:after, #cnt2 .over p, #cnt2 li .over a{opacity: 0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
#cnt2 li:hover .over h4:after, #cnt2 li:hover .over p, #cnt2 li:hover .over a, #cnt2 li.on .over h4:after, #cnt2 li.on .over p, #cnt2 li.on .over a{opacity: 1;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
#cnt2 li:hover .over{padding-top: 15px;}
#cnt2 li .over p{padding: 20px 0 32px;line-height: 24px;}
#cnt2 li .over a{display: inline-block;width: 33.5%;height: 40px;line-height: 38px;border: 1px solid #fff;font-size: 14px;letter-spacing:8px;font-weight: 500;}
#cnt2 .over a:hover, #cnt2 .over a:focus{color: #555;border-color: #555;}

/* #cnt2 .cnt2_list #modal1 .cnt2_li */
#cnt2 .cnt2_list{position: absolute;top:0;height: 310px;width: 100%;}
#cnt2 .cnt2_list #modal1 {width: 100%;height: 310px;}
#cnt2 .cnt2_list #modal1 .cnt2_li{width: 16.666%}

/* #cnt2 .cnt2_list #modal1 .cnt2_img  */

#cnt2 .cnt2_list #modal1 .cnt2_img{position: absolute;top: 0;left: 16.666%;height: 310px;width: 16.666%;;background: url("../images/event/2-1\(1\).jpg");}
#cnt2 .cnt2_list #modal1 .cnt2_img a img{transition: 1s;}
#cnt2 .cnt2_list #modal1 .cnt2_img:hover a img{transform:translatey(310px);}

/* .cnt2_li_1 */

#cnt2 .cnt2_li_1{position: absolute;top:0;left: 33.333%;}

/* .cnt2_img_1*/

#cnt2 .cnt2_list #modal1 .cnt2_img_1{position: absolute;top: 0;left: 50%;background: url("../images/event/2-2\(1\).jpg");}
#cnt2 .cnt2_list #modal1 .cnt2_img_1 a img{transition: 1s;}
#cnt2 .cnt2_list #modal1 .cnt2_img_1:hover a img{transform:translatey(-320px);}

/* .cnt2_li_2 */
#cnt2 .cnt2_li_2{position: absolute;top:0;left:66.666%;}

/* .cnt2_img_2*/
#cnt2 .cnt2_list #modal1 .cnt2_img_2{position: absolute;top: 0;left: 83.333%; background: url("../images/event/2-3\(1\).jpg");}
#cnt2 .cnt2_list #modal1 .cnt2_img_2 a img{transition: 1s;}
#cnt2 .cnt2_list #modal1 .cnt2_img_2:hover a img{transform:translatey(320px);} 

/* #cnt2 .cnt2_1_list */
#cnt2 .cnt2_1_list {position: absolute;top: 310px;width: 100%;height: 310px;}
/* #cnt2 .cnt2_1_list li:nth-child(1) .over h4:after{background-position: -148px 0px;}
#cnt2 .cnt2_1_list li:nth-child(2) .over h4:after{background-position: -74px 0px;} */

/* #cnt2 .cnt2_1_list .cnt2_1_img */
#cnt2 .cnt2_1_list .cnt2_1_img{position: absolute;top:0;width: 16.666%;background:url("../images/event/2-4\(1\).jpg");}
#cnt2 .cnt2_1_list #modal2 .cnt2_1_img a img{transition: 1s;}
#cnt2 .cnt2_1_list #modal2 .cnt2_1_img:hover a img{transform:translatey(-310px);}


/* #cnt2 .cnt2_1_list .cnt2_1_li .over */
#cnt2 .cnt2_1_list .cnt2_1_li{position: absolute;top: 0;left: 16.666%;width: 16.666%;}

/* #cnt2 .cnt2_1_list .cnt2_1_img_1 */
#cnt2 .cnt2_1_list .cnt2_1_img_1{position: absolute;top:0;left: 33.333%;background:url("../images/event/2-5\(1\).jpg");}
#cnt2 .cnt2_1_list #modal2 .cnt2_1_img_1 a img{transition: 1s;}
#cnt2 .cnt2_1_list #modal2 .cnt2_1_img_1:hover a img{transform:translatey(-310px);}

/* #cnt2 .cnt2_1_list .cnt2_1_li_1 */
#cnt2 .cnt2_1_list .cnt2_1_li_1 {position: absolute;top: 0;left: 50%;width: 16.666%;}

/* #cnt2 .cnt2_1_list .cnt2_1_img_2 */
#cnt2 .cnt2_1_list .cnt2_1_img_2{position: absolute;top:0;left: 66.666%;background:url("../images/event/2-6\(1\).jpg");}
#cnt2 .cnt2_1_list #modal2 .cnt2_1_img a img{transition: 1s;}
#cnt2 .cnt2_1_list #modal2 .cnt2_1_img_2:hover a img{transform:translatey(-310px);}

/* #cnt2 .cnt2_1_list .cnt2_1_li_2 */
#cnt2 .cnt2_1_list .cnt2_1_li_2{position: absolute;top: 0;left:83.333%;width: 16.666%;}

/* #cnt2 .cnt2_2_list */
#cnt2 .cnt2_2_list {position: absolute;top: 620px;width: 100%;height: 310px;}

/* #cnt2 .cnt2_2_list cnt2_2_li */
#cnt2 .cnt2_2_list #modal3 .cnt2_2_li{position: absolute;width: 16.666%;}


/* #cnt2 .cnt2_2_list cnt2_2_img */
#cnt2 .cnt2_2_list .cnt2_2_img{position: absolute;top: 0;left:16.666%;background: url("../images/event/2-7\(1\).jpg");}
#cnt2 .cnt2_2_list #modal3 .cnt2_2_img a img{transition: 1s;}
#cnt2 .cnt2_2_list #modal3 .cnt2_2_img:hover a img{transform:translatey(-310px);}

/* #cnt2 .cnt2_2_list .cnt2_2_li_1 */
#cnt2 .cnt2_2_list .cnt2_2_li_1 {position: absolute;top: 0;left: 33.333%;width: 16.666%;}

/* #cnt2 .cnt2_2_list .cnt2_2_img_1 */
#cnt2 .cnt2_2_list .cnt2_2_img_1 {position: absolute;top:0;left: 50%;background: url("../images/event/2-8\(1\).jpg");}
#cnt2 .cnt2_2_list #modal3 .cnt2_2_img_1 a img{transition: 1s;}
#cnt2 .cnt2_2_list #modal3 .cnt2_2_img_1:hover a img{transform:translatey(-310px);}

/*  #cnt2 .cnt2_2_list .cnt2_2_li_2 */
#cnt2 .cnt2_2_list .cnt2_2_li_2{position: absolute;top: 0;left: 66.666%;width: 16.666%;}

/* #cnt2 .cnt2_2_list .cnt2_2_img_2 */
#cnt2 .cnt2_2_list .cnt2_2_img_2{position: absolute;top:0;left: 83.333%;background: url("../images/event/2-9\(1\).jpg")}
#cnt2 .cnt2_2_list #modal3 .cnt2_2_img_2 a img{transition: 1s;}
#cnt2 .cnt2_2_list #modal3 .cnt2_2_img_2:hover a img{transform:translatey(-310px);}

/* #cnt2 .over  .color1 (ff9966) */
#cnt2 .color1{background-color: #ff9966;}
/* #cnt2 .over  .color2 (669966) */
#cnt2 .color2{background-color: #669966;}
/* #cnt2 .over color3 (66cccc) */
#cnt2 .color3{background-color: #66cccc;}

/* #cnt3 */

/*#cnt3 Slider CSS */
#cnt3 .slider-slide:nth-child(1) {background: url("../images/event/1slider/slider2-1.jpg");}
#cnt3 .slider-slide:nth-child(2) {background: url("../images/event/1slider/slider2-2.jpg");}
#cnt3 .slider-slide:nth-child(3) {background: url("../images/event/1slider/slider2-3.jpg");}
#cnt3 .slider-slide:nth-child(4) {background: url("../images/event/1slider/slider2-4.jpg");}

/* #cnt4 공통 */
#cnt4{width: 100%;height: 930px;margin: 0px auto;}
#cnt4 h3{font-size: 30px;color:#231f20;text-align: center; }
#cnt4 h3+p{color:#777;padding: 14px 0 50px;}
#cnt4 h4{position: relative;padding-top: 10px;font-size: 30px;letter-spacing: 10px;text-align: center;}
#cnt4 .over{width: 100%;height: 310px;padding-top: 108px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #ffffff;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;text-align: center;}
#cnt4 .over li{width: 100%;height: 310px;text-align: center;}
#cnt4 li:hover .over, #cnt4 li.on .over{padding-top: 50px;}
#cnt4 li .over h4:after, #cnt4 .over p, #cnt4 li .over a{opacity: 0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
#cnt4 li:hover .over h4:after, #cnt4 li:hover .over p, #cnt4 li:hover .over a, #cnt4 li.on .over h4:after, #cnt4 li.on .over p, #cnt4 li.on .over a{opacity: 1;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
#cnt4 li:hover .over{padding-top: 15px;}
#cnt4 li .over p{padding: 20px 0 32px;line-height: 24px;}
#cnt4 li .over a{display: inline-block;width: 33.5%;height: 40px;line-height: 38px;border: 1px solid #fff;font-size: 14px;letter-spacing:8px;font-weight: 500;}
#cnt4 .over a:hover, #cnt4 .over a:focus{color: #555;border-color: #555;}

/* #cnt4 .cnt2_list #modal1_1 .cnt2_li */
#cnt4 .cnt2_list{position: absolute;top:0;height: 310px;width: 100%;}
#cnt4 .cnt2_list #modal1_1 {width: 100%;height: 310px;}
#cnt4 .cnt2_list #modal1_1 .cnt2_li{width: 16.666%}

/* #cnt4 .cnt2_list #modal1_1 .cnt2_img  */

#cnt4 .cnt2_list #modal1_1 .cnt2_img{position: absolute;top: 0;left: 16.666%;height: 310px;width: 16.666%;;background: url("../images/event/4-1\(1\).jpg");}
#cnt4 .cnt2_list #modal1_1 .cnt2_img a img{transition: 1s;}
#cnt4 .cnt2_list #modal1_1 .cnt2_img:hover a img{transform:translatey(310px);}

/* .cnt2_li_1 */

#cnt4 .cnt2_li_1{position: absolute;top:0;left: 33.333%;}

/* .cnt2_img_1*/

#cnt4 .cnt2_list #modal1_1 .cnt2_img_1{position: absolute;top: 0;left: 50%;background: url("../images/event/4-2\(1\).jpg");}
#cnt4 .cnt2_list #modal1_1 .cnt2_img_1 a img{transition: 1s;}
#cnt4 .cnt2_list #modal1_1 .cnt2_img_1:hover a img{transform:translatey(-320px);}

/* .cnt2_li_2 */
#cnt4 .cnt2_li_2{position: absolute;top:0;left:66.666%;}

/* .cnt2_img_2*/
#cnt4 .cnt2_list #modal1_1 .cnt2_img_2{position: absolute;top: 0;left: 83.333%; background: url("../images/event/4-3\(1\).jpg");}
#cnt4 .cnt2_list #modal1_1 .cnt2_img_2 a img{transition: 1s;}
#cnt4 .cnt2_list #modal1_1 .cnt2_img_2:hover a img{transform:translatey(320px);} 

/* #cnt4 .cnt2_1_list */
#cnt4 .cnt2_1_list {position: absolute;top: 310px;width: 100%;height: 310px;}
/* #cnt4 .cnt2_1_list li:nth-child(1) .over h4:after{background-position: -148px 0px;}
#cnt4 .cnt2_1_list li:nth-child(2) .over h4:after{background-position: -74px 0px;} */

/* #cnt4 .cnt2_1_list .cnt2_1_img */
#cnt4 .cnt2_1_list .cnt2_1_img{position: absolute;top:0;width: 16.666%;background:url("../images/event/4-4\(1\).jpg");}
#cnt4 .cnt2_1_list #modal2_1 .cnt2_1_img a img{transition: 1s;}
#cnt4 .cnt2_1_list #modal2_1 .cnt2_1_img:hover a img{transform:translatey(-310px);}


/* #cnt4 .cnt2_1_list .cnt2_1_li .over */
#cnt4 .cnt2_1_list .cnt2_1_li{position: absolute;top: 0;left: 16.666%;width: 16.666%;}

/* #cnt4 .cnt2_1_list .cnt2_1_img_1 */
#cnt4 .cnt2_1_list .cnt2_1_img_1{position: absolute;top:0;left: 33.333%;background:url("../images/event/4-5\(1\).jpg");}
#cnt4 .cnt2_1_list #modal2_1 .cnt2_1_img_1 a img{transition: 1s;}
#cnt4 .cnt2_1_list #modal2_1 .cnt2_1_img_1:hover a img{transform:translatey(-310px);}

/* #cnt4 .cnt2_1_list .cnt2_1_li_1 */
#cnt4 .cnt2_1_list .cnt2_1_li_1 {position: absolute;top: 0;left: 50%;width: 16.666%;}

/* #cnt4 .cnt2_1_list .cnt2_1_img_2 */
#cnt4 .cnt2_1_list .cnt2_1_img_2{position: absolute;top:0;left: 66.666%;background:url("../images/event/4-6\(1\).jpg");}
#cnt4 .cnt2_1_list #modal2_1 .cnt2_1_img a img{transition: 1s;}
#cnt4 .cnt2_1_list #modal2_1 .cnt2_1_img_2:hover a img{transform:translatey(-310px);}

/* #cnt4 .cnt2_1_list .cnt2_1_li_2 */
#cnt4 .cnt2_1_list .cnt2_1_li_2{position: absolute;top: 0;left:83.333%;width: 16.666%;}

/* #cnt4 .cnt2_2_list */
#cnt4 .cnt2_2_list {position: absolute;top: 620px;width: 100%;height: 310px;}

/* #cnt4 .cnt2_2_list cnt2_2_li */
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_li{position: absolute;width: 16.666%;}


/* #cnt4 .cnt2_2_list cnt2_2_img */
#cnt4 .cnt2_2_list .cnt2_2_img{position: absolute;top: 0;left:16.666%;background: url("../images/event/4-7\(1\).jpg");}
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_img a img{transition: 1s;}
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_img:hover a img{transform:translatey(-310px);}

/* #cnt4 .cnt2_2_list .cnt2_2_li_1 */
#cnt4 .cnt2_2_list .cnt2_2_li_1 {position: absolute;top: 0;left: 33.333%;width: 16.666%;}

/* #cnt4 .cnt2_2_list .cnt2_2_img_1 */
#cnt4 .cnt2_2_list .cnt2_2_img_1 {position: absolute;top:0;left: 50%;background: url("../images/event/4-8\(1\).jpg");}
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_img_1 a img{transition: 1s;}
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_img_1:hover a img{transform:translatey(-310px);}

/*  #cnt4 .cnt2_2_list .cnt2_2_li_2 */
#cnt4 .cnt2_2_list .cnt2_2_li_2{position: absolute;top: 0;left: 66.666%;width: 16.666%;}

/* #cnt4 .cnt2_2_list .cnt2_2_img_2 */
#cnt4 .cnt2_2_list .cnt2_2_img_2{position: absolute;top:0;left: 83.333%;background: url("../images/event/4-9\(1\).jpg")}
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_img_2 a img{transition: 1s;}
#cnt4 .cnt2_2_list #modal3_1 .cnt2_2_img_2:hover a img{transform:translatey(-310px);}

/* #cnt4 .over  .color1 (ff9966) */
#cnt4 .color1{background-color: #669966;}
#cnt4 .color1:hover{background-color: rgba(0,0,0,.7);}
/* #cnt4 .over  .color2 (669966) */
#cnt4 .color2{background-color: #66cccc;}
#cnt4 .color2:hover{background-color: rgba(0,0,0,.7);}
/* #cnt4 .over color3 (66cccc) */
#cnt4 .color3{background-color: #ff9966;}
#cnt4 .color3:hover{background-color: rgba(0,0,0,.7);}